<a href="https://colab.research.google.com/github/Anvesha8888/-skill-gap-analysis-priject/blob/main/skillgapprject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Load your dataset
df = pd.read_csv("skillgap_survey_sample.csv")

This helps you see column names, data types, and any missing values.(Inspect the dataset)

In [ ]:
# Check basic info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Respondent_ID                    300 non-null    object
 1   Consent                          300 non-null    object
 2   Age_range                        300 non-null    object
 3   Gender                           300 non-null    object
 4   State                            300 non-null    object
 5   Highest_qualification            300 non-null    object
 6   Major                            300 non-null    object
 7   Year_of_graduation               300 non-null    int64
 8   Internships_count                300 non-null    int64
 9   Did_internships                  300 non-null    object
 10  Completed_certifications         300 non-null    object
 11  Certifications_list              138 non-null    object
 12  Weekly_practical_hours           300 non-null    object
 13  Job_search_channels              300 non-null    object
 14  Employment_status                300 non-null    object
 15  Months_to_first_job              153 non-null    float64
 16  Interviews_count_category        300 non-null    object
 17  Technical_score                  300 non-null    int64
 18  Problem_solving_score            300 non-null    int64
 19  Communication_score              300 non-null    int64
 20  Teamwork_score                   300 non-null    int64
 21  Interview_prep_score             300 non-null    int64
 22  Industry_awareness_score         300 non-null    int64
 23  Main_reason_for_not_getting_job  300 non-null    object
 24  College_preparedness_score       300 non-null    int64
 25  Support_needed                   300 non-null    object
 26  Suggestion_for_college           300 non-null    object
dtypes: float64(1), int64(9), object(17)
memory usage: 63.4+ KB

In [ ]:
# Preview first 5 rows
df.head()

,Respondent_ID,Consent,Age_range,Gender,State,Highest_qualification,Major,Year_of_graduation,Internships_count,Did_internships,...,Technical_score,Problem_solving_score,Communication_score,Teamwork_score,Interview_prep_score,Industry_awareness_score,Main_reason_for_not_getting_job,College_preparedness_score,Support_needed,Suggestion_for_college
0,R0001,Yes,23-26,Female,Tamil Nadu,B.Tech,Mechanical,2024,1,Yes,...,3,3,3,4,2,3,Lack of technical skills,1,No specific support needed,Focus on communication and soft skills training
1,R0002,Yes,18-22,Male,Uttar Pradesh,MBA,Mechanical,2024,0,No,...,3,3,2,2,4,3,Poor resume/interview skills,3,Career growth mentorship,Create industry mentorship programs
2,R0003,Yes,23-26,Female,Punjab,B.Tech,Marketing,2025,1,Yes,...,3,3,3,4,3,3,Poor resume/interview skills,2,Better work-life balance,Provide more internships with industry partners
3,R0004,Yes,27-30,Male,Punjab,B.Tech,Arts/Science/Other,2025,2,Yes,...,4,2,3,3,2,3,Poor resume/interview skills,2,No specific support needed,Create industry mentorship programs
4,R0005,Yes,18-22,Female,Tamil Nadu,Other,Arts/Science/Other,2024,1,Yes,...,4,2,3,3,3,4,No internships,3,Career growth mentorship,Include practical projects and tool training i...

In [ ]:
# Check shape (rows, columns)
df.shape

(300, 27)

Columns with high missing percentages might need dropping or imputing (filling).Check for missing values

In [ ]:
# Count missing values per column
df.isnull().sum()

Respondent_ID                        0
Consent                              0
Age_range                            0
Gender                               0
State                                0
Highest_qualification                0
Major                                0
Year_of_graduation                   0
Internships_count                    0
Did_internships                      0
Completed_certifications             0
Certifications_list                162
Weekly_practical_hours               0
Job_search_channels                  0
Employment_status                    0
Months_to_first_job                147
Interviews_count_category            0
Technical_score                      0
Problem_solving_score                0
Communication_score                  0
Teamwork_score                       0
Interview_prep_score                 0
Industry_awareness_score             0
Main_reason_for_not_getting_job      0
College_preparedness_score           0
Support_needed                       0
Suggestion_for_college               0
dtype: int64

In [ ]:
# Or visualize missing data percentage
(df.isnull().sum() / len(df)) * 100

Respondent_ID                       0.0
Consent                             0.0
Age_range                           0.0
Gender                              0.0
State                               0.0
Highest_qualification               0.0
Major                               0.0
Year_of_graduation                  0.0
Internships_count                   0.0
Did_internships                     0.0
Completed_certifications            0.0
Certifications_list                54.0
Weekly_practical_hours              0.0
Job_search_channels                 0.0
Employment_status                   0.0
Months_to_first_job                49.0
Interviews_count_category           0.0
Technical_score                     0.0
Problem_solving_score               0.0
Communication_score                 0.0
Teamwork_score                      0.0
Interview_prep_score                0.0
Industry_awareness_score            0.0
Main_reason_for_not_getting_job     0.0
College_preparedness_score          0.0
Support_needed                      0.0
Suggestion_for_college              0.0
dtype: float64

Ensures each participant’s data appears once.(Check for duplicates)

In [ ]:
# Count duplicates
df.duplicated().sum()

np.int64(0)

In [ ]:
# Remove duplicates
df = df.drop_duplicates(subset=['Respondent_ID'])

Check for inconsistent text values

Example for Yes/No, Gender, etc.

In [ ]:
# Check unique values in key columns
df['Gender'].unique()
df['Completed_certifications'].unique()

array(['Yes', 'No'], dtype=object)

In [ ]:
# Standardize values
df['Gender'] = df['Gender'].str.strip().str.capitalize()
df['Completed_certifications'] = df['Completed_certifications'].replace({
    'yes': 'Yes', 'no': 'No', 'y': 'Yes', 'n': 'No'
})

Handle missing values{Fill with mode/mean/median

Drop incomplete rows}

In [ ]:
# Fill missing State with mode
df['State'] = df['State'].fillna(df['State'].mode()[0])

# Drop rows missing Employment_status
df = df.dropna(subset=['Employment_status'])

Make sure all missing/duplicate/inconsistent issues are fixed.{Verify final data}

In [ ]:
df.info()
df.isnull().sum()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 27 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Respondent_ID                    300 non-null    object
 1   Consent                          300 non-null    object
 2   Age_range                        300 non-null    object
 3   Gender                           300 non-null    object
 4   State                            300 non-null    object
 5   Highest_qualification            300 non-null    object
 6   Major                            300 non-null    object
 7   Year_of_graduation               300 non-null    int64
 8   Internships_count                300 non-null    int64
 9   Did_internships                  300 non-null    object
 10  Completed_certifications         300 non-null    object
 11  Certifications_list              138 non-null    object
 12  Weekly_practical_hours           300 non-null    object
 13  Job_search_channels              300 non-null    object
 14  Employment_status                300 non-null    object
 15  Months_to_first_job              153 non-null    float64
 16  Interviews_count_category        300 non-null    object
 17  Technical_score                  300 non-null    int64
 18  Problem_solving_score            300 non-null    int64
 19  Communication_score              300 non-null    int64
 20  Teamwork_score                   300 non-null    int64
 21  Interview_prep_score             300 non-null    int64
 22  Industry_awareness_score         300 non-null    int64
 23  Main_reason_for_not_getting_job  300 non-null    object
 24  College_preparedness_score       300 non-null    int64
 25  Support_needed                   300 non-null    object
 26  Suggestion_for_college           300 non-null    object
dtypes: float64(1), int64(9), object(17)
memory usage: 63.4+ KB

,Respondent_ID,Consent,Age_range,Gender,State,Highest_qualification,Major,Year_of_graduation,Internships_count,Did_internships,...,Technical_score,Problem_solving_score,Communication_score,Teamwork_score,Interview_prep_score,Industry_awareness_score,Main_reason_for_not_getting_job,College_preparedness_score,Support_needed,Suggestion_for_college
0,R0001,Yes,23-26,Female,Tamil Nadu,B.Tech,Mechanical,2024,1,Yes,...,3,3,3,4,2,3,Lack of technical skills,1,No specific support needed,Focus on communication and soft skills training
1,R0002,Yes,18-22,Male,Uttar Pradesh,MBA,Mechanical,2024,0,No,...,3,3,2,2,4,3,Poor resume/interview skills,3,Career growth mentorship,Create industry mentorship programs
2,R0003,Yes,23-26,Female,Punjab,B.Tech,Marketing,2025,1,Yes,...,3,3,3,4,3,3,Poor resume/interview skills,2,Better work-life balance,Provide more internships with industry partners
3,R0004,Yes,27-30,Male,Punjab,B.Tech,Arts/Science/Other,2025,2,Yes,...,4,2,3,3,2,3,Poor resume/interview skills,2,No specific support needed,Create industry mentorship programs
4,R0005,Yes,18-22,Female,Tamil Nadu,Other,Arts/Science/Other,2024,1,Yes,...,4,2,3,3,3,4,No internships,3,Career growth mentorship,Include practical projects and tool training i...

Save cleaned data

In [ ]:
df.to_excel("skillgap_cleaned.xlsx", index=False)

This saves it directly into your Google Drive.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
df.to_excel('/content/drive/MyDrive/skillgap_cleaned_final.xlsx', index=False)

Mounted at /content/drive